doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="css/style.css")
    title pugテスト
    script(src="/js/index.js")
  body
    h1 Hello World
    p#output
    script.
      var successJson;
      $.getJSON('/api/item/success.json', function(json){
        successJson = json;
      });
      $.mockjax(
          {
              url: '/api.do',
              responseTime: 1000,
              type: 'get',
              status: 200,
              response: function(settings) {
                  if(!settings.data) {
                      this.responseText = {
                        "result": "1",
                        "errors":[
                          {	
                            "code": "E_01",
                            "message": "Lack of parameters"
                          }
                        ]
                      };
                      return;
                  }
                  // Failure with 1/10
                  if(Math.random() * 10 < 1) {
                      this.status = 404;
                      return;
                  }
                  //default
                  this.responseText = successJson || {};
                }
          }
      );